<div class="cart_page" >
      <%=form_tag ("/order") do%>
        <%=image_tag("kupa.jpg") %>
        <h2 class="withBG">
            פרטי הזמנה <%=image_tag("redTriangle.jpg" , :class => "redTriangle") %>   
        </h2>
        <div id="cartTable">
            <%= render "main/partial/basketcart" %>
        </div>
        
        <h2 class="withBG">
            פרטי משתמש
		<%=image_tag("redTriangle.jpg", :class => "redTriangle") %>
        </h2>
        <div class="des"> <strong> שם משתמש:</strong>
        <span> <%= current_user.first_name %> <%= current_user.last_name %></span>
        </div>
        <div class="des"> <strong> דוא"ל: </strong>
        <span> <%= current_user.email %> </span>
        </div>
        <div class="des"> <strong> טלפון: </strong>
        <span> <%= current_user.phone %></span>
        </div>
         <div class="des"> <strong> תעודת זהות: </strong>
        <span> <%= current_user.idnum %></span>
        </div> 
        <div class="des"> <strong> כתובת </strong>
        <span> <%= current_user.address %><br />
            <%= current_user.city %> <%= current_user.zipcode %><br />
            <%= current_user.country %>

        </span>
        </div>
        <div class="des">
             <%= link_to('לעריכת פרטים', edit_user_registration_path, html_options = {:title => "עריכת פרטים", :class => "edit_link"}) %>
         </div>      
        <h2 class="withBG">
            פרטי משלוח<%=image_tag("redTriangle.jpg", :class=> "redTriangle") %>
        </h2>
         <%=render "/main/partial/shippingform" %>
        <h2 class="withBG">
            אפשרויות משלוח<%=image_tag("redTriangle.jpg", :class=> "redTriangle") %>
        </h2>
        <%=render "/main/partial/shipping" %>
        
         <h2 class="withBG">
           הערות נוספות<%=image_tag("redTriangle.jpg", :class=> "redTriangle") %>
        </h2>
        <%= text_area_tag "notes", nil, :class=>"area"%>
        <h2 class="withBG">
           פרטי הזמנה<%=image_tag("redTriangle.jpg", :class=> "redTriangle") %>
        </h2>
        <div  class="total-panel">


       <table class="total_table">
        <tr>
<td>סה"כ </td>
<td class="td_total"> <span id="total_wrapper"> </span> ש"ח</td>
       </tr>
               <tr>
<td>משלוח</td>
<td class="td_total"> <span id="shipping_wrapper"> </span> ש"ח</td>
       </tr>
               <tr>
<td>לתשלום</td>
<td class="td_total"> <span id="grand_total_wrapper"> </span> ש"ח</td>
       </tr>
   </table>
</div>
        <%= submit_tag "Save changes", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
        <%end%>

</div>