
<%unless dataitem.nil? %>

<div  class="book" >
              <strong class="bookName"><%=link_to dataitem.title , :controller=>"/book", :action => "details", :id=> dataitem.id%></strong>
              <div class="right_side">

             <%=link_to  image_tag(dataitem.image.url(:thumb), :class=>"imgBook"), :controller=>"/book", :action => "details", :id=> dataitem.id%>
             
              <%=image_tag("selectbutton.jpg", :class=>"selectbutton", :dataid => dataitem.id) %>
           </div>
              <div  class="bookData">
                <div class="book_top">
              מחיר: <strong><%=dataitem.price%> ש"ח </strong><br/>
              <%unless(dataitem.author.nil?)%>
              מחבר: <strong><%=dataitem.author.title%> </strong><br/>
              <%end%>

              <div class="bookDescription">
              <%=dataitem.description%>
              </div>
               
              
              </div>
              <div class="book_weight">
                משקל ליחידה: <%=dataitem.weight %>
            </div>
              </div>
            </div>
             
           
<%end%>