<div class="cartTotal">
	<% @basketitem = Basket.where(session_id: @my_session_id) %>
	<% @total =0%>
	<%@basketitem.each do |basket| 
	@total = @total  + (basket.book.price * basket.quantity)
	end %>

<%=link_to image_tag("cartGoBasket.jpg", :style => "float:right; border:0"), :controller => "/cart", :action => "index"%>
<%if (@total > 0) %>
<strong>סך הכל <%=@total%> ש"ח</strong>

 <%else%>
 <strong>סל הקניות שלך ריק</strong>
<%end%>
 </div>

<%@basketitem.each do |basket| %>
 <div class="cartBook">
               <strong class="bookNameCart"><%=basket.book.title%></strong>
               <% unless basket.book.image_url.nil? %>
             <%=image_tag(basket.book.image_url.to_s, :class=>"CartImg") %>
             <%else%>
             <%=image_tag("noBook.jpg", :class=>"CartImg") %>
             <%end%>
                <input size="2" onchange="updateQuantity(<%=basket.id.to_s %>, this.value)" value="<%=basket.quantity%>" type="text" class="checkOutFormsField" />
				<%=image_tag("del_img.jpg", :class => "blImg", :onclick => "removeFromBasket(" + basket.id.to_s + ")") %>
				<br/>
				<small><%=basket.book.price%> ש"ח</small>
            </div>
<%end%>
