
<%unless @book.nil?%>

<div  style="direction: rtl; font-size:1.2em">
            <div style="float:right; width:160px; text-align:center; margin-left:10px;">

             <% unless @book.image.nil? %>
             <%=image_tag(@book.image.url(:medium), :width=>"160px", :alt => @book.title) %>
             <%else%>
             <%=image_tag("noBook.jpg", :width=>"160px", :alt => @book.title) %>
             <%end%>
              <%if @book.image.file? %>
              <a class="redButtonLink" rel="lightbox" href="<%=@book.image.url(:large)%>" ><span
                      style="display:block">להגדלה</span>
                      </a>
                      <%end%>
                     
            </div> 
              
                    
                <div  class="bigBookDetail">
                    <strong class="bigBookTitle">
                    	<%=@book.title%>
                       &nbsp;&nbsp;&nbsp;
                    </strong>
                    <table class="bigBookTable" cellpadding="20">
                    	<%unless(@book.author.nil?)%>
                        <tr>
                            <td>
                                שם המחבר</td>
                            <td>
                                
              <%=@book.author.title%> 
              
                            </td>
                        </tr>
                        <%end%>
                        <%if(@book.publisher.to_s.length > 0)%>
                        <tr>
                            <td>
                                הוצאה לאור</td>
                            <td>
                                <%=@book.publisher%>
                            </td>
                        </tr>
                        <%end%>
                        <tr>
                            <td>
                                מחיר</td>
                            <td>
                                <%=@book.price%> ש"ח
                            </td>
                        </tr>
                        <tr>
                            <td>
                                סיווג</td>
                            <td>
                                <%=@book.subcategory.category.title%>
                                -
                                <%=@book.subcategory.title%>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                 משקל ליחידה</td>
                            <td>
                                <%=@book.weight%>
                                
                            </td>
                        </tr>
                    </table>
                    <div class="bigBookData">
                         <%=@book.body.to_s.html_safe%>   </div>
                         <br /> <br />
                          <%=image_tag("selectbutton.jpg", :class=>"selectbutton", :dataid => @book.id) %>
                     
                      
                    
                </div>
            </div>
            <%end%>


            <%content_for :title do %>
            <%=@book.title %>
            <%end%>