 <h2 style="direction:ltr; text-align:left"> TODO:</h2>
                                 <ul style="direction:ltr; text-align:left">
                                    <li>  design tasks: 1. change the search text field colors 2. design the enlarge button 3. prev next buttons on best seller </li>
                                    <li> add news marquee</li>
                                    <li> manage file upload using ckeditor </li>
                                    <li> use the domain supersefer.com </li>
                                    <li> make  site styled devise 
                                    </li>
                                    
                                </ul>
                                 <!-- <h2 style="direction:ltr; text-align:left"> TODO: second step </h2>
                                <ul style="direction:ltr; text-align:left">

                                <li>applay paypal option</li>
                                <li>think / applay change  the site to multiple languages </li>
                                <li> Category page when the user exist at home page get the products by ajax </li>
                            </ul>-->
<div style="clear:both"> </div>
<div id="books_wrapper">
    <%if (!@subcategory.nil?)%>
        <h3>
        <%unless (@subcategory.category.nil?)%><%=@subcategory.category.title %> &gt;

        <%end%>
    	<%=@subcategory.title %> 
<%=link_to "הצג הכל", root_url , :class => "clear_search" %>
    </h3>

	<%elsif (@term != '')%>
    <h3> תוצאות חיפוש עבור   '<%= @term %>' 
     <%=link_to "הצג הכל", root_url , :class => "clear_search" %>
     </h3>
    <%end%>
<%if @books.count > 0%>
<%@books.each do |book, index| %>
<%= render  :partial => "main/partial/bookitem", :locals =>{:dataitem=> book}%>
<%end%>
<%else%>
מצטערים לא נמצאו ספרים!  נסה שנית או חזור <%=link_to "לדף הבית", root_url %> <%end%>
</div>