<!DOCTYPE html>
<html>
<head>
  <title>Supersefer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">var ROOT_PATH = '<%= root_path %>';</script>
  <%= csrf_meta_tags %>
</head>
<body>
     

        <div  id="content_frame">
            <div id="content">
                <div class="top">
<div id="user_nav">
    <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to "יציאה", destroy_user_session_path, :method => :delete %>
        <%= link_to('פרופיל', edit_user_registration_path, html_options = {:title => "פרופיל", :class => "button grey"}) %>
    <% else %>
        <%= link_to 'הרשמה', new_user_registration_path %> או <%= link_to 'כניסה', new_user_session_path %>
    <% end %>
</div>



                	<%=link_to image_tag("topLogo.jpg", :style=>"float:left") , :controller => "/book", :action => "index" %>
                	<%=image_tag("topRightBG.jpg", :style=>"float:right") %>
                   
   
                </div>
                <ul class="topButtons">
                    <li class="category">קטגוריות</li>
                    <li class="homePage">
                    	
                    <%=link_to "דף הבית", :controller => "/book", :action => "index"%>

                        </li>
                    <li class="aboutUs">
                          <%=link_to "אודותינו", :controller => "/about", :action => "index"%>


                       
                    </li>
                    <li class="contact">
                        <%=link_to "צור קשר", :controller => "/contact", :action => "index"%>
 
                        </li>
                    <li>
                   <%=link_to "לקופה", :controller => "/cart", :action => "index"%>

                    </li>
                </ul>
                <div class="clearR" />
                <table style="width: 100%; direction: rtl" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="top" rowspan="2" width="184px" class="categoryMenu">
                            <div >
                               

                            <%=render "main/partial/accordion" %>            
                               <!-- <div class="AdvanceBestSeller">
                                    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
                                    <div class="nextBackBestSeller">
                                        <img src="/assets/prevBestSeller.jpg" onclick="previousBestSeller()" />
                                        <img src="/assets/nextBestSeller.jpg" onclick="nextBestSeller()" />
                                    </div>
                                </div>
                                <div class="bestSeller">
                                    <div class="topBestSeller">
                                        <img src="/assets/spacer.gif" /></div>
                                    <div class="middleBestSeller">
                                        
                                    </div>
                                    <div class="bottomBestSeller">
                                        &nbsp;
                                    </div>
                                </div>-->
                            </div>
                        </td>
                        <td valign="top" class="ContentPlaceHolder">
                             <div  class="content_wrapper">
                                
                         <div  class="flash">
                            <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
                         </div>     

                            <%= yield %>
                    <div style="clear:both"> </div>
                        </div>

                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Developed By:
                            <a  href="http://www.geshtop.com">geshtop</a>
                            <a href=""> rss</a>
                                   
                  
                        </td>
                      
                    </tr>
                </table>
            </div>
        </div>
        <div id="Cart">
<%=render "main/partial/cart" %>
</div>




</body>
</html>
